.pickup-product
  .pickup-product__head
    新規投稿商品
  .pickup-product__box
    .pickup-product__box--head
      = link_to "/", class: "link-btn" do
        最新順
    .product-lists
      -@category.each do |product|
        .product-list
          = link_to product_path(product), class:"product-link" do
            .product-image-box
              = image_tag product.images[0].image.url,class:"image-size"
              -if product.exhibition_id == 1
                %span
                  .soldout-label
                    =product.exhibition.name
            .product-link__description
              .product-name
                = product.name
              .product-cost
                %ul.product-cost__list
                  %li
                    = "#{product.price} 円"
                  %li.like-btn
                    ★
                    =product.likes.count
              .product-tax
                (税込み)
