.sign
  .sign-header
    %a{href: root_path}
      =image_tag "logo.svg"
  .sign-main
    -# 以下保存先モデル名、カラム名は仮置きです。
    = form_with model: @address, local: true do |f|
      = render "devise/shared/error_messages", resource: @address
      .sign-main-box.sign-main-box-last
        %h1.sign-main-box__title 商品送信機能
        .field
          = f.label :送付先氏名（全角）, class: "field__text"
          %p.field__text-constraint 必須
          .field-box
            = f.text_field :last_name, placeholder: "性", class: "field-box__input"
            = f.text_field :first_name, placeholder: "名", class: "field-box__input"
        .field
          = f.label :送付先氏名かな（全角）, class: "field__text"
          %p.field__text-constraint 必須
          .field-box
            = f.text_field :last_name_kana, placeholder: "せい", class: "field-box__input"
            = f.text_field :first_name_kana, placeholder: "めい", class: "field-box__input"
        .field
          = f.label :郵便番号, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :zip_code, placeholder: "郵便番号", class: "field__input"
        .field
          -# 仮のフォームを作成しています
          = f.label :都道府県, class: "field__text"
          %p.field__text-constraint 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: "field__input"
        .field
          = f.label :市区町村, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :city, placeholder: "市区町村", class: "field__input"
        .field
          = f.label :番地, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :address, placeholder: "番地", class: "field__input"
        .field
          = f.label :マンション名, class: "field__text"
          %p.field__text-constraint--blue 任意
          = f.text_field :building, placeholder: "マンション名", class: "field__input"
        .field
          = f.label :お届け先の電話番号, class: "field__text"
          %p.field__text-constraint--blue 任意
          -# カラムの場所を変更可能性あり
          = f.text_field :phone_number, placeholder: "電話番号", class: "field__input"
      = f.submit "新規登録", class: "actions"
    .shared-links
      = render "devise/shared/links"
  = render "devise/shared/footer"
