.sign
  .sign-header
    = link_to image_tag("logo.svg"), root_path
  .sign-main
    = form_with model: @address, local: true do |f|
      .sign-main-box.sign-main-box-last
        %h1.sign-main-box__title 発送先変更
        .field
          = f.label :送付先氏名（全角）, class: "field__text"
          %p.field__text-constraint 必須
          .field-box
            = f.text_field :last_name, placeholder: "性", class: "field-box__input"
            = f.text_field :first_name, placeholder: "名", class: "field-box__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "last_name"}
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "first_name"}


        .field
          = f.label :送付先氏名かな（全角）, class: "field__text"
          %p.field__text-constraint 必須
          .field-box
            = f.text_field :last_name_kana, placeholder: "せい", class: "field-box__input"
            = f.text_field :first_name_kana, placeholder: "めい", class: "field-box__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "last_name_kana"}
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "first_name_kana"}

        .field
          = f.label :郵便番号, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :zip_code, placeholder: "郵便番号", class: "field__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "zip_code"}

        .field
          = f.label :都道府県, class: "field__text"
          %p.field__text-constraint 必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt:"--", class: "field__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "prefecture_id"}

        .field
          = f.label :市区町村, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :city, placeholder: "市区町村", class: "field__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "city"}

        .field
          = f.label :番地, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :address, placeholder: "番地", class: "field__input"
          = render partial: '/errors/address-error-messages', locals: {address: @address, column: "address"}

        .field
          = f.label :マンション名, class: "field__text"
          %p.field__text-constraint--blue 任意
          = f.text_field :building, placeholder: "マンション名", class: "field__input"
        .field
          = f.label :お届け先の電話番号, class: "field__text"
          %p.field__text-constraint--blue 任意
          = f.text_field :phone_number, placeholder: "電話番号", class: "field__input"
      = f.submit "新規登録", class: "actions"
  = render "devise/shared/footer"
