= render partial: '/products/header'
.search-main
  .detailed-form
    .detailed-form__title
      %h3 詳細検索
    .detailed-form__keyword
      .detailed-form__keyword--icon
        = icon('fa', 'search')
        %p キーワードを追加する
  .search-box
    .search-box__main
      -if @search.present?
        %h2.search-result-head
          - @search.first(1).each do |s|
            = s.name
          %span.search-result-head-text
            の検索結果
        .search-result-number
          ="#{@search.count}件表示"
      -else
        %h2.search-result-nil
          検索結果はありません
      .search-product-box
        -@search.each_slice(3) do |product|
          .product-lists
            -product.each do |p|
              .product-list
                = link_to product_path(p), class:"product-link" do
                  .product-image-box
                    = image_tag p.images[0].image.url,class:"image-size"
                    -if p.exhibition == 1
                      %span
                        .soldout-label
                          soldout
                  .product-link__description
                    .product-name
                      = p.name
                    .product-cost
                      %ul.product-cost__list
                        %li
                          = p.price
                        %li.like-btn
                          ★0
                    .product-tax
                      (税込み)
    .pagenate
      =paginate @search
.search-header
  = render partial: 'devise/shared/footer'