.cards
  =form_with url:cards_path, method: :post, class:"ui form",id:"charge-form" do |f|
    %h4.form-title クレジットカード情報入力
    .card-form
      .field
        = f.label :カード番号, class: "field__text"
        %p.field__text-constraint 必須
        = f.text_field :number, maxlength:"16", placeholder:"Card #", type:"text",id:"card_number", class: "field__input"
      .field
        = f.label :有効期限, class: "field__text"
        %p.field__text-constraint 必須
        .field-box
          = f.select :exp_month,[["01", 1],["02", 2],["03", 3],["04", 4],["05", 5],["06",6],["07",7],["08",8],["09",9],["10",10],["11", 11],["12", 12]], prompt:"", id:"exp_month"
          %p 月
        .field-box
          = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , id:"exp_year"
          %p 年
        .field
          = f.label :CVC, class: "field__text"
          %p.field__text-constraint 必須
          = f.text_field :cvc, maxlength:"4", placeholder: "CVC", type:"text", id:"cvc", class: "field__input"

      %p#result

      #card_token
      = f.submit "追加する", id: "token_submit",class:"submit"