.footer
  .footer__box
    .footer__box-info
      %h2 FURIMAについて
      %ul.footer__box-info-link
        %li
          = link_to '#' do
            会社概要（運営会社）
        %li
          = link_to '#', class: 'privacy' do
            プライバシーポリシー
        %li
          = link_to '#', class: 'rule' do
            FURIMA利用規約
        %li
          = link_to '#', class: 'point' do
            ポイントに関する特約

    .footer__box-info
      %h2 FURIMAを見る
      %ul.footer__box-info-link
        %li
          = link_to '#', class: 'category' do
            カテゴリー一覧
        %li
          = link_to '#', class: 'brand' do
            ブランド一覧
            
    .footer__box__info
      %h2 ヘルプ＆ガイド
      %ul.footer__box-info-link
        %li
          = link_to '#', class: 'guide' do
            FURIMAガイド
        %li
          = link_to '#', class: 'line' do
            FURMAロゴ利用ガイドライン
        %li
          = link_to '#', class: 'news' do
            お知らせ
  .footer__furima
    = link_to '#' do
      = image_tag '/images/material/logo/logo-white.png', class: 'logo'
    .footer__furima__mark
      ©️ FURIMA