.header
  .main
    = link_to root_path do
      = image_tag src="/images/material/logo/logo.png", width:"140px", class:"header_icon"
    .main-searchBox
      = form_with(url: searches_index_path,local: true,method: :get,class:"search-form") do |f|
        = f.text_field :keyword,placeholder:"何かお探しですか？",class:"search-input"
        = f.submit '検索',class: " search-btn"
        

  .nav
    - if user_signed_in?
      .right-list
        = link_to "マイページ", user_path, class: "right-list__mine"
        = link_to "ログアウト", destroy_user_session_path, method: :delete
    - else
      .right-list
        = link_to "ログイン", user_session_path
        = link_to "新規会員登録", new_user_registration_path , class: "right-list__new"
