.wrapper
  = render partial: 'header'
  %nav.header-bottom
    %ul.tag
      %li
        FURiMA>
      %li
        ヘビー・キッズ>
      %li
        ベビー服（男女兼用）〜９５cm>
      %li
        アウター>
      %li
        product3
.show-main
  .show-main__box
    .product-content
      .product-content__item-box
        .product-content__item-box--name
          = @product.name
        .product-content__item-box--image-body
          .top-image
            - @images.first(1).each do |i|
              = image_tag i.image.url, class: 'top-image'
          .sub-images
            - @images[1..3].each do |i|
              = image_tag i.image.url, class: 'sub-image'
        .product-content__item-box--price
          .product-cost
            = "¥#{@product.price}"
            %ul.product-postage
              %li
                (税込み)
              %li
                = @product.burden.name
        .product-content__item-box--date
          = simple_format(@product.explain)
        %table
          %tbody
            %tr
              %th
                出品者
              %td
                = @product.user.nickname
            %tr
              %th
                カテゴリー
              %td
                %ul
                  %li
                    .table-btn
                      = @product.category.name
                  -# 追加実装のために残してあります
                  -# %li
                  -#   = link_to "/", class: "table-btn" do
                  -#     ベビーさん
                  -# %li
                  -#   = link_to "/", class: "table-btn" do
                  -#     アウター
            %tr
              %th
                ブランド
              %td
                - if @product.brand.present?
                  = @product.brand.name
            -# 追加実装のために残してあります
            -# %tr
            -#   %th
            -#     商品のサイズ
            -#   %td
            -#     XL
            %tr
              %th
                商品の状態
              %td
                = @product.condition.name
            %tr
              %th
                配送料の負担
              %td
                = @product.burden.name
            %tr
              %th
                発送元の地域
              %td
                .table-btn
                  = @product.prefecture.name
            %tr
              %th
                発送日の目安
              %td
                = @product.deliveryday.name
        - if user_signed_in?
          - if current_user == @product.user
            .submit
              = link_to "編集", edit_product_path(@product.id), class: "submit-edit"
              = link_to "削除", "#", class: "submit-delete"
          - else
            .submit
              = link_to "購入する", "#", class: "submit-purchase"
        .option
          .like-btn
            = icon('fa','star')
            お気に入り 0
          .report-btn
            = icon('fa','flag')
            不適切な商品の通報
      .product-comment
        .comment-box
        .warning-comment
          相手のことを考え丁寧なコメントを心がけましょう。
          %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
        .comment-btn
          =icon('fa','comment')
          コメントする
      .links
        %ul
          %li
            =link_to "#",class:"product__link" do
              <前の商品
          %li
            =link_to "#",class:"product__link" do
              後ろの商品>
      .category-back
        = link_to "#",class:"category-back__link" do
          ベビー・キッズをもっと見る
  = render '/products/contents/ad'
  = render partial: 'footer'
